.squareContainer{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
   
    
}

h1{
    text-align: center;
}

.sidebuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
    width: 60px;
    height: 60px;
}

#colorPicker{
    border-radius: 40px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.sketchTools{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: transparent;
}

button{
  display: block;
  margin: auto;
}

.blockElement{
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.blockElement2{
    border: 1px solid black;
    box-sizing: border-box;
}

.backgroundChange{
     background-color: black;
}

#eraser{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sizept{
    font-size: xx-large;
}

#color{
    width: 100%;
    height: 100%;
    background: transparent;
    object-fit: cover;
}